<!-- ---------------------------------------------------- -->
  <div class="col-sm-3 col-md-3 col-lg-3">
	<!-- logo -->  
    <div class="img-responsive">
      <img src="https://res.cloudinary.com/eventro/image/upload/v1668122125/image001.png" width="500" title="Python Avanzado Grupolotal" alt="Curso Python Avanzado">    
    </div>
	<!-- logo -->	
  </div>
<!-- ---------------------------------------------------- --> 
  <div class="col-sm-6 col-md-6 col-lg-6">
	<!-- Pandas Tutorial -->  
	  <center>
	    <br>
        <h1>Dia 2</h1>
 <h1>Ejercicio 1 Pandas</h1>
        <br>
        <br>
        <strong> Python Avanzado </strong> 
         <br>
        <strong>Alejandro Marcano Van Grieken</strong>
	  </center>	
    <!-- Pandas Tutorial -->	
  </div>
<!-- ---------------------------------------------------- -->



### Paso 1. Importa las librerías necesarias

In [3]:
import pandas as pd

### Paso 2. Importa el dataset chiplotle.csv y guardalo en una varible df_ventas

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/aleconwifi/python-avanzado/master/dia%202/ejercicios/ejercicio%201/chipotle.csv')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 3. Muestra los primeros 15 registros

In [5]:
df.head(15)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

### Paso 4. Muestra los últimos 10 registros de df_ventas

In [6]:
df.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 5. ¿Cuántos registros hay en el conjunto de datos?

In [7]:
len(df)

4622

In [10]:
# Solución 2
df.shape[0]

4622

### Paso 6. ¿Qué cantidad de columnas hay en el dataset?

In [11]:
df.shape[1]

5

### Paso 7. Imprime el nombre de todas las columnas

In [12]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Paso 8. Seleccione las columnas "item_name" e "item_price" de las filas 10 a la 15

In [14]:
df.loc[10:15, ['item_name', 'item_price']]

                                item_name item_price
10                    Chips and Guacamole     $4.45
11                   Chicken Crispy Tacos     $8.75
12                     Chicken Soft Tacos     $8.75
13                           Chicken Bowl    $11.25
14                    Chips and Guacamole     $4.45
15  Chips and Tomatillo-Green Chili Salsa     $2.39

### Paso 9. Seleccione en df_ventas de la fila 3 a la 7 y de la columna de 3 a la 5

In [15]:
df.iloc[3:8, 2:5]

,item_name,choice_description,item_price
3,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,Side of Chips,NaN,$1.69
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75

In [17]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Paso 10. Seleccione en df_ventas cada fila después de la  fila 1000 y todas las columnas.

In [18]:
df.loc[1000:, :]

,order_id,quantity,item_name,choice_description,item_price
1000,411,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Rice, Che...",$8.49
1001,411,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1002,412,1,Bottled Water,NaN,$1.50
1003,412,1,Bottled Water,NaN,$1.50
1004,412,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$8.75
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [20]:
df.tail(3622)

,order_id,quantity,item_name,choice_description,item_price
1000,411,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Rice, Che...",$8.49
1001,411,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1002,412,1,Bottled Water,NaN,$1.50
1003,412,1,Bottled Water,NaN,$1.50
1004,412,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$8.75
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 11. ¿Cuál/Cuáles son los productos menos vendido y su cantidad?

In [27]:
df_producto = df.groupby('item_name').sum()
df_producto.sort_values(['quantity']).head(3)

                                   order_id  quantity
item_name
Carnitas Salad                         1500         1
Veggie Crispy Tacos                     668         1
Chips and Mild Fresh Tomato Salsa       279         1

### Paso 12. ¿Cuál es el artículo más vendido?

In [28]:
df_producto = df.groupby('item_name').sum()
df_producto.sort_values(['quantity'], ascending='False').head(1)

                order_id  quantity
item_name
Carnitas Salad      1500         1

### Paso 13. ¿Cuántos artículos fueron comprados en total?

In [31]:
print('La cantidad total es', df.quantity.sum())

La cantidad total es 4972

### Paso 14. Convierta el precio de un artículo en un  float

#### Paso 14.a. Verifique el tipo de dato del precio del artículo

In [93]:
df_ventas = pd.read_csv('https://raw.githubusercontent.com/aleconwifi/python-avanzado/master/dia%202/ejercicios/ejercicio%201/chipotle.csv')
df_ventas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [94]:
#Solución 1
df_ventas['item_price'] = df_ventas['item_price'].str.strip('$')

In [95]:
#Solución 2
df_ventas['item_price'] = df_ventas['item_price'].astype(float)
df_ventas['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Paso 14.b. Cree una función lambda y cambie el tipo de precio del artículo

#### Paso 14.c. Vuelve a verificar el tipo de dato del precio del artículo

In [ ]:
#Solución 1

In [41]:
#Solución 2
type(df['item_price'][0])

numpy.float64

### Paso 15. ¿Cuánto fue la ganancia total en el dataset? (Ganancia = Precio * Cantidad de Artículos Vendidos)

In [38]:
df['ganancia'] = df['quantity'] * df['item_price']

df.head()

,order_id,quantity,item_name,choice_description,item_price,ganancia
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [39]:
df['ganancia'].sum()

39237.02

### Paso 16. ¿Cuántos pedidos se hicieron en el período? (Varios productos de un mismo pedido tienen el mismo order_id)

In [52]:
df['order_id'].value_counts().count()

1834

### Paso 17. ¿Cuál es el monto promedio de ingresos por pedido?

In [60]:
# Solución 1
monto_pedido = df.groupby('order_id').sum().ganancia

monto_pedido.mean()

21.39423118865867

In [ ]:
# Solución 2

### Paso 18. ¿Cuántos artículos diferentes se venden?

In [65]:
df.item_name.value_counts().count()

50

In [67]:
len(df.item_name.unique())

50

### Paso 19. ¿Cuál fue la cantidad del artículo más caro pedido?

In [71]:
df.sort_values(['item_price'], ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,ganancia
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

###  Paso 20. Selecciona los pedidos que hayan comprado entre 3 y 8 productos (incluyendo 3 y 8)

In [80]:
df_agrupado = df.groupby('order_id').sum()
df_agrupado [(df_agrupado['quantity'] >= 3) & (df_agrupado['quantity'] <= 8)]

          quantity  item_price  ganancia
order_id
1                4       11.56     11.56
9                3       10.67     12.85
18               4       24.90     24.90
20               4       36.20     36.20
21               3       23.36     23.36
...            ...         ...       ...
1827             5       32.95     32.95
1828             3       14.45     14.45
1829             3       24.25     24.25
1831             3       12.90     12.90
1834             3       28.75     28.75

[724 rows x 3 columns]

### Paso 21. ¿Cuántas veces se ordenó una Veggie Salad Bowl?

In [89]:
len(df[df['item_name'] == "Veggie Salad Bowl"])

18

###  Paso 22. ¿Cuántas veces alguien ordenó más de una Canned Soda?